.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 0;
}
.background {
    background-image: url("../images/p1.jpg");
    background-size: cover;
    background-position: top left;
    margin: -10px -8px -8px -10px;
    padding: -1px;
}
.container {
    margin: auto;
    min-height: 900px;
    padding: 45px;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 120%;
    border-style: solid;
    border-radius: 30px;
    border-color: darkgray;
    border-width: 8px;
}
.heading {
    color: royalblue;
    text-align: center;
    font-size: 36pt;
}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: royalblue;
    font-size: 18pt;
}
.segment {
    border: 3px solid rgb(189, 185, 185);
    border-radius: 3px;
}