@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
:root {
    --font-heading: "Quicksand", Arial, sans-serif;
    /* Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    --font-body: "Source Sans Pro", Arial, sans-serif;
    --font-title: "Playfair Display", Georgia, serif;
    --font-size-small: 0.8rem;
    --font-size-text: 1.1rem;
    --font-size-1: 1rem;
    --font-size-2: 1.1rem;
    --font-size-3: 1.4rem;
    --color-text: #353d48;
    --color-text-light: #4f5969;
    --color-theme-light: rgb(118, 143, 218);
    --color-theme: #00274C;
    --color-theme-vice: white;
    --color-background: rgba(243, 243, 243, 0.972);

    --spacing-0: 0;
    --spacing-1: 0.25rem;
    --spacing-6: 1.5rem;
    --spacing-8: 2rem;
}
blockquote {
    color: var(--color-text-light);
    margin-left: calc(-1 * var(--spacing-6));
    margin-right: var(--spacing-8);
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
    border-left: var(--spacing-1) solid var(--color-theme-light);
    font-size: var(--fontSize-2);
    font-style: italic;
    margin-bottom: var(--spacing-8);
}
.site-title {
    font-family: var(--font-title);
    font-size: 2.5rem;
    color: gray;
    font-weight: 700;
    margin: -30px 0 30px -30px;
}
.background {
    background-color: var(--color-background);
    background-size: cover;
    background-position: top left;
    margin: -10px -8px -8px -10px;
    padding: -1px;
}
.container {
    margin: auto;
    min-height: 60rem;
    padding: 45px 45px 45px 220px;
    max-width: 42%;
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 1.8;
    background-color: var(--color-background);
    font-size: var(--font-size-text);
    color: var(--color-text);
}
.sidenav {
    margin-left: 90px;
    height: 100%;
    width: 290px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-theme);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-family: var(--font-heading);
    font-size: var(--font-size-2);
    color: white;
    display: block;
}
.sidenav a:hover {
    color: var(--color-theme);
    background-color: var(--color-theme-vice);
}
.profileAvatar {
    background-image: url("../images/Avatar.png");
    vertical-align: middle;
    margin: 30px auto;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid white;
    border-radius: 50%;
    @media screen and (max-width: 767px) {
    max-width: 230px;
    margin: auto;
    }
}
.name-box{
    margin: 10px 60px 30px 60px;
    padding: 6px;
    font-family: var(--font-title);
    font-weight: 100;
    font-size: var(--font-size-3);
    color: white;
    text-align: center;
    -webkit-text-decoration: white solid underline;
    text-decoration: white solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}
.text-center{
    margin: 30px 60px;
    padding: 5px;
    font-family: var(--font-heading);
    line-height: 1.8rem;
    font-weight: 100;
    font-size: var(--font-size-1);
    color: white;
    text-align: center;
}
.text-center ul{
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
}
.text-center ul li{
    float: left;
}
.text-center ul li a{
    display: inline;
    padding: 10px;
}
.text-center ul li a:hover{
    color: inherit;
    background-color: inherit;
}
.map-icon{
    float: left;
    margin : 2px 2px 18px 10px;
}
.DLbutton{
    margin: 20px;
    padding: 8px;
    font-family: var(--font-heading);
    font-size: var(--font-size-3);
    background-color: black;
    color: white;
    text-align: center;
}


.heading {
    color: var(--color-theme);
    font-family: var(--font-heading);
    text-align: center;
    font-size: 36pt;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    font-family: var(--font-heading);
    text-decoration: none;
    color: var(--color-theme);
    font-size: 18pt;
}
.segment {
    border: 2px solid rgb(189, 185, 185);
    border-radius: 3px;
}